
body {
 	font-family: arial, helvetica, sans-serif;
	font-size: 0.8em;
	color: navy;
	background-color: #ffc;
	background-image:url('/images/Leaf.png');
	margin: 1em;
	padding: 0;
	background: #ffc  /*url(http://www.htmldog.com/images/bg.gif) no-repeat top right; */
}

h1 {
	color: #ffc;
	background-color: #009;
}

/* By the way, this is a comment */

h2 {
	font-size: 1.5em;
	background-color: #ccc;
	margin: 1em;
	padding: 3em;
	border-style: solid;
	border-width: 3px;
	border-left-width: 3px;
	border-right-width: 3px;
	border-color: #009;}

 p {
	letter-spacing: 0.01em;
	word-spacing: 0.1em;
	line-height: 1.5;
	text-align: left;
}

table {border-collapse:separate;
       border-spacing:0;
       width:50%;
      }
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;
	       background-color:#FEF1E9;}
th {height:30px;
    text-align:center;
    font-weight: bold;
    background-color:#EEF3E2; }

#navigation {
	position: absolute;
	top: 100;
	left: 2;
	width: 100em;
}

#content {
	margin-left: 10em;
}
.fieldWithErrors {
padding: 2px;
background-color: red;
display: table;
}
.fieldWithErrors label {
color: #fff;
}
#errorExplanation {
width: 400px;
border: 2px solid red;
padding: 7px;
padding-bottom: 12px;
margin-bottom: 20px;
background-color: #f0f0f0;
}
#errorExplanation h2 {
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
background-color: #c00;
color: #fff;
}
#errorExplanation p {
color: #333;
margin-bottom: 0;
padding: 5px;
}
#errorExplanation ul li {
font-size: 12px;
list-style: square;
}

.error, .notice, .success {
padding:.8em;
margin-bottom:1em;
border:2px solid #ddd;
text-align: left;
font-size: 16px;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.success a {color:#264409;}

.error, .notice, .fail {
padding:.8em;
margin-bottom:1em;
border:2px solid #ddd;
text-align: left;
font-size: 16px;}
.fail {background:#DC143C;color:#263409;border-color:#C6D880;}
.fail a {color:#264409;}

.atm {text-align: left;
font-weight: bold;
padding: 15px 15px 15px 15px;
font-size: 12px;
margin: -7px;
color: #333;
border-collapse:separate;
       border-spacing:0;
       width:20%;
}

div#sidebar {
   width: 200px;
   margin-left: 480px;
}