<% if @accounts.blank? %>
<p>There are not any accounts currently in the system.</p>
<% else %>
<p>These are the current accounts in our system</p>
<ul id="accounts">
<% @accounts.each do |c| %>
<li>
  <%= link_to "Acc. No: #{c.id}", {:action => 'show', :id => c.id} -%>
</li>
<% end %>
</ul>
<% end %>
<p><%= link_to "Add new Account", {:action => 'new' }%></p>
